@*@model Customer*@
@{
    ViewBag.Title = "Home Page";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Dashboard</li>
</ol>
<div class="jumbotron">Dashboard</div>
<div class="row">
    @*@if (Model != null)
    {
        <br />
        <span> ID: 
            @Model.Id
        </span>
        <br />
        <span> Name:
            @Model.FirstName
        </span>
        <br />
        <span> LastName: 
            @Model.LastName
        </span>
    }*@
</div>