<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="X-Forwarded-Header" value="HTTP_X_FORWARDED_FOR"/>
    <!--<add key="X-Forwarded-Ip-Separator" value="," />
    <add key="X-Forwarded-ClientIp-Index" value="0" />-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <httpModules>
      <add name="XFF" type="XFF.XForwardedFor, XFF" />
    </httpModules>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <add name="XFF" type="XFF.XForwardedFor, XFF" />
    </modules>
  </system.webServer>
</configuration>