<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LoginUrl" value="https://alanyaisabet.k12net.com/Login.aspx" />
    <add key="UsernameElementIdentifier" value="//input[@id='LoginView1_Login1_UserName']" />
    <add key="PasswordElementIdentifier" value="//input[@id='LoginView1_Login1_Password']" />
    <add key="LoginElementIdentifier" value="//input[@id='LoginView1_Login1_LoginButton']" />
    <add key="LogoutUrl" value="https://alanyaisabet.k12net.com/Logout.aspx" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>