<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=301880
	-->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:ReadWrite" value="false" />
		<add key="ClientValidationReadWrite" value="true" />
		<add key="UnobtrusiveJavaScriptReadWrite" value="true" />
		<!-- Unlocked Started-->
		<add key="Unlocked:Disabled" value="false" />
		<!-- Auto manage cookie, default is true -->
		<add key="Unlocked:Auto" value="true" />
		<!--<add key="Unlocked:HostConfigName" value="MyRedisHostAddress" />-->
		<add key="Unlocked:CookieName" value="UnlockedState" />
		<!-- <add key="Unlocked:CookieName" value="ASP.NET_SessionId" /> -->
		<!-- As Minutes -->
		<add key="Unlocked:SessionTimeout" value="20" />
		<add key="Unlocked:Host" value="localhost:6379,127.0.0.1:6379" />
		<add key="Unlocked:Database" value="3" />
		<!-- For REDIS Database Id -->
		<add key="Unlocked:OperationTimeout" value="30" />
		<!-- For REDIS StackExchange.Redis compliant connection string-->
		<!--<add key="Unlocked:ConnectionString" value="localhost:6379,127.0.0.1:6379,abortConnect=true,resolveDns=true," />-->
		<!-- As Seconds -->
		<!--<add key="Unlocked:ConnectionTimeout" value="30" /> -->
		<!-- As Seconds -->
		<!--<add key="MyRedisHostAddress" value="localhost:6379" />-->
		<!--<add key="Unlocked:PreferSlave" value="false" />-->
		<!-- Unlocked End-->
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" />
		<customErrors mode="Off">
		</customErrors>
		<machineKey validationKey="3333B7BE619A112C4C70B32ABCF72713BD9B0DD87D93B922AF257454158DCE4E312909B336FD085981E65ED60DB3D7466B1BAFEEDA44CFE44B40D6248B375C69" decryptionKey="017EA1810BCD8E28AC97C75582D073410189A225588B1014" validation="SHA1" decryption="Auto" compatibilityMode="Framework45" />
		<sessionState mode="Off" customProvider="MySessionStateStore">
			<providers>
				<!-- Either use 'connectionString' and provide all parameters as string OR use 'host','port','accessKey','ssl','connectionTimeoutInMilliseconds' and 'operationTimeoutInMilliseconds'. -->
				<!-- 'throwOnError','retryTimeoutInMilliseconds','databaseId' and 'applicationName' can be used with both options. -->
				<!--
					<add name="MySessionStateStore" 
						host = "127.0.0.1" [String]
						port = "" [number]
						accessKey = "" [String]
						ssl = "false" [true|false]
						throwOnError = "true" [true|false]
						retryTimeoutInMilliseconds = "5000" [number]
						databaseId = "0" [number]
						applicationName = "" [String]
						connectionTimeoutInMilliseconds = "5000" [number]
						operationTimeoutInMilliseconds = "1000" [number]
						connectionString = "<valid StackExchange.Redis connection string>" [String]
					/>
				-->
				<add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="127.0.0.1" accessKey="" ssl="false" />
			</providers>
		</sessionState>
	</system.web>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="1000" />
			<!-- don't forget, default is 2-->
		</connectionManagement>
	</system.net>
	<system.webServer>
		<modules>
			<!--<remove name="Session" />-->
		</modules>
		<handlers>
			<!--<add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />-->
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>-->
			<!--<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
