@using Energetic.Data.Entities
@model Customer
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>
<div class="row">
    @if (Model != null)
    {
        <br />
        <span> ID: 
            @Model.Id
        </span>
        <br />
        <span> Name:
            @Model.FirstName
        </span>
        <br />
        <span> LastName: 
            @Model.LastName
        </span>
    }
</div>