<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!--<add key="SiteUrl" value="http://nolock.moonstar.org"/>-->
    <add key="SiteUrl" value="http://localhost/UnlockedSessionDemo" />
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>
</configuration>