@{
	ViewBag.Title = "Home";
}
@section featured {
	<section>
			<div>
				<hgroup>
					<h1>@ViewBag.Title</h1>
					<h2>@ViewBag.Message</h2>
				</hgroup>
			</div>
		<br />
		@{@Html.BeginForm("Index", "Home", FormMethod.Post, null);}
		<div>
			@Html.Label("", "Message"):@Html.TextBox("message", "")
		</div>
		<div style="align-content: flex-end"><input type="submit" value="Send"/> </div>
		@{Html.EndForm();}
		<div>
			<span>Received Message:</span> @Html.Raw(ViewBag.ReceivedMessage)
		</div>
	</section>
}
