@{
	ViewBag.Title = "Home";
}
@section featured {
	<section>
			<div>
				<hgroup>
					<h1>@ViewBag.Title</h1>
					<h2>@ViewBag.Message</h2>
				</hgroup>
			</div>
		<br />
		@using (Html.BeginForm("Index", "Home", FormMethod.Post))
		{
			<span style="vertical-align: top; display: block;">Message :</span>
			<div style="display: block">
				<textarea name="message" cols="100" rows="10"></textarea>
			</div>
			
			<br /> 
			<div><input type="submit" value="Send" style="float: right; clear: right; display: block; " /> </div>
		}
		<br /> 
		<div>
			<span>Received Message:</span> @Html.Raw(ViewBag.ReceivedMessage)
		</div>
	</section>
}
