<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.4" targetFramework="net451" />
  <package id="log4net.Appender.Extended" version="1.3.8.29379" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="SplunkSDK" version="1.0.2" targetFramework="net451" />
</packages>