<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="false">
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message : %exception"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL"/>
        <levelMax value="OFF"/>
      </filter>
    </appender>
    <appender name="SimpleAppender" type="log4net.Appender.Extended.Tests.Appender.SimpleAppender">
      <EnvironmentVariablesLevel value="FATAL"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message : %exception"/>
      </layout>
      <parameter>
        <parameterName value="StackTrace"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%stacktrace{5}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="Exception"/>
        <levelMin value="ERROR"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%exception"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="AspNetCache"/>
        <levelMin value="ERROR"/>
        <layout type="log4net.Appender.Extended.Layout.ExtendedPatternLayout">
          <conversionPattern value="%extended-aspnet-cache{*}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="AspNetContext"/>
        <levelMin value="ERROR"/>
        <layout type="log4net.Appender.Extended.Layout.ExtendedPatternLayout">
          <conversionPattern value="%extended-aspnet-context{*}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="IVRLog"/>
        <omitNull value="true" />
        <levelMin value="ALL"/>
        <layout type="log4net.Appender.Extended.Layout.ExtendedPatternLayout">
          <conversionPattern value="%extended-aspnet-context{ivr_log}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="AspNetRequest"/>
        <levelMin value="ERROR"/>
        <layout type="log4net.Appender.Extended.Layout.ExtendedPatternLayout">
          <conversionPattern value="%extended-aspnet-request{*}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="AspNetSession"/>
        <levelMin value="ERROR"/>
        <layout type="log4net.Appender.Extended.Layout.ExtendedPatternLayout">
          <conversionPattern value="%extended-aspnet-session{*}"/>
        </layout>
      </parameter>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL"/>
        <levelMax value="OFF"/>
      </filter>
    </appender>
    <appender name="SimpleDoubleBufferingAppender" type="log4net.Appender.Extended.Tests.Appender.SimpleDoubleBufferingAppender">
      <MaxBufferSize value="10"/>
      <TimeThreshold value="5"/>
      <EnvironmentVariablesLevel value="FATAL"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message : %exception"/>
      </layout>
      <parameter>
        <parameterName value="StackTrace"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%stacktrace{5}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="Exception"/>
        <levelMin value="ERROR"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%exception"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="AspNetCache"/>
        <levelMin value="ERROR"/>
        <layout type="log4net.Appender.Extended.Layout.ExtendedPatternLayout">
          <conversionPattern value="%extended-aspnet-cache{*}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="AspNetContext"/>
        <levelMin value="ERROR"/>
        <layout type="log4net.Appender.Extended.Layout.ExtendedPatternLayout">
          <conversionPattern value="%extended-aspnet-context{*}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="CustomItem"/>
        <omitNull value="true" />
        <levelMin value="ALL"/>
        <layout type="log4net.Appender.Extended.Layout.ExtendedPatternLayout">
          <conversionPattern value="%extended-aspnet-context{custom_item}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="AspNetRequest"/>
        <levelMin value="ERROR"/>
        <layout type="log4net.Appender.Extended.Layout.ExtendedPatternLayout">
          <conversionPattern value="%extended-aspnet-request{*}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="AspNetSession"/>
        <levelMin value="ERROR"/>
        <layout type="log4net.Appender.Extended.Layout.ExtendedPatternLayout">
          <conversionPattern value="%extended-aspnet-session{*}"/>
        </layout>
      </parameter>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL"/>
        <levelMax value="OFF"/>
      </filter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="SimpleAppender" />
      <appender-ref ref="SimpleDoubleBufferingAppender"/>
    </root>
    <!--<logger name="Ark" additivity="false">
      <level value="ALL" />
      <appender-ref ref="ArkAppender" />
      <appender-ref ref="ArkBufferingAppender" />
    </logger>-->
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
