<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ServiceDatabase" connectionString="Data Source=Data.db3;Version=3;Journal Mode=Off;" />
  </connectionStrings>
  <appSettings>
    <add key="BaseAddress" value="http://localhost:8888/"/>
    <add key="Key" value="l9jHAZWatYgpYwl7FQ0Xn/7npNvgnADVCCkzVg8BGN0=" />
    <add key="Vector" value="wldyPdNLVwqC+tidDDfZ7A==" />
  </appSettings>
</configuration>